@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

html {
    font-family: "Outfit", sans-serif;
    font-size: var(--font-size-xl);
    background-color: var(--Eggshell);
}

.main-container{ 
max-width: 700px;
margin: 4% auto;
padding: 3%;
border-radius: 20px;
background-color: var(--White);
}

.main-container header .banner-image {
    width: 100%;
    border-radius: 10px;
}

.main-container header .main-hdg {
    font-size: var(--font-size-3xl);
    padding: 2% 0%;
    color: var(--Dark-Charcoal);
}

.main-container header .descrb-txt {
    font-size: var(--font-size-xl);
    margin-bottom: 5%;
    color: var(--Wenge-Brown);
}

.main-container .prep-cnt { 
    background-color: var(--Rose-White);
    border-radius: 15px;
    padding: 3% 5%;
}

.main-container .prep-cnt .scnd-hdg { 
    color: var(--Dark-Raspberry);
    padding: 1% 0%;
}

.main-container .prep-cnt ul {
    margin-left: 4%;
    list-style: disc;
    line-height: 2;
    color: var(--Wenge-Brown);
}

.main-container .ingredients-cnt .scnd-hdg,
.main-container .intructions-cnt .scnd-hdg,
.main-container .nutrition-cnt .scnd-hdg {
    font-size: var(--font-size-2xl);
    margin: 3% 0%;
    color: var(--Nutmeg);
}

.main-container .ingredients-cnt {
    padding: 5% 0%;
    border-bottom: 1px solid var(--Light-Grey);
}

.main-container .ingredients-cnt .scnd-hdg {
    margin-bottom: 3%;
}

.main-container .ingredients-cnt ul {
    margin-left: 4%;
    line-height: 2;
}

.main-container .intructions-cnt ol {
    margin-left: 4%;
    line-height: 2;
    color: var(--Wenge-Brown);

}

.main-container .intructions-cnt {
    padding: 5% 0%;
    border-bottom: 1px solid var(--Light-Grey);

}

.main-container .nutrition-cnt .descrb-txt { 
    margin-bottom: 3%;
    color: var(--Wenge-Brown);
}
