:root {

    --margin-xs: 4px;
    --margin-sm: 8px;
    --margin-md: 12px;
    --margin-lg: 20px;
    --margin-xl: 24px;

    --padding-xs: 8px;
    --padding-sm: 10px;
    --padding-md: 14px;
    --padding-lg: 20px;
    --padding-xl: 24px;

    --font-size-xs: 4px;
    --font-size-sm: 8px;
    --font-size-md: 12px;
    --font-size-lg: 14px;
    --font-size-xl: 16px;
    --font-size-2xl: 320px;
    --font-size-3xl: 50px;

    --primary-color: rgb(137, 145, 118);
    --secondary-color: #aa3955;
    --antique-white: rgb(214, 216, 211);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --Game-theme: #9cc09f;
    --Game-text: #2b4048;
    --Compete: #74a1af;
    --color-surface-200: #313131;
    --color-surface-300: #474747;
    --color-surface-100: #1c1c1c;
    --color-surface-mixed-300: #5a7f53;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Newfontx;
    src: url(../Shared/ImPerfect23.otf);
}